*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bbdfc8;
}

.logo-data {
    margin-left: 110px;
}

.cardBox {
    background-color: whitesmoke;
    border-radius: 30px;
    margin: auto;
    margin-top: 120px;
    width: 60%;
    -webkit-box-shadow: 1px 1px 1px #b8b9be, 6px 6px 6px #414047;
    box-shadow: 1px 1px 1px #b8b9be, 6px 6px 6px #414047;
}

.logo {
    margin-left: 50px;
}

.btn1{
    border-radius: 40px;
    width: 30%;
    background-color: #bbdfc8;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 20px;
}

.btn1:hover {
    background-color: #E4E9F7;
    color: white;
    -webkit-box-shadow: 3px 3px 10px #b8b9be, 6px 6px 6px #414047;
    box-shadow: 3px 3px 10px #b8b9be, 6px 6px 6px #414047;
}

.art {
    margin-left: 80px;
}
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  

